.js-fadeup {
  opacity: 0;
  translate: 0 10px;
}

.js-fadeup.is-inview {
  opacity: 1;
  translate: 0;
  transition:
    opacity 0.5s ease,
    translate 0.5s ease;
}

@keyframes icon-pulse {
  0%,
  20% {
    scale: 1;
  }

  25%,
  35% {
    scale: 1.06;
  }

  40%,
  60% {
    scale: 1;
  }

  65%,
  75% {
    scale: 1.06;
  }

  80%,
  100% {
    scale: 1;
  }
}

@keyframes illust-switch {
  to {
    opacity: 0;
  }
}
