:root {
  /* font */
  --font-zenmaru: 'Zen Maru Gothic', 'Hiragino Maru Gothic ProN', sans-serif;
  --font-sans: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 800;

  /* 1px → rem 換算係数 */
  --base-text-unit: 16;
  --rem-ratio: calc(1rem / var(--base-text-unit));

  /* leading */
  --leading-none: 1;
  --leading-tight: 1.1;
  --leading-snug: 1.3;
  --leading-normal: 1.43;
  --leading-wide: 1.54;
  --leading-wider: 1.6;
  --leading-widest: 1.7;
  --leading-full: 1.9;

  /* tracking */
  --tracking-tighter: -0.08em;
  --tracking-tight: -0.02em;
  --tracking-none: 0;
  --tracking-normal: 0.03em;
  --tracking-wide: 0.08em;
  --tracking-wider: 0.1em;
  --tracking-widest: 0.14em;
  --tracking-full: 0.2em;

  /* rounded */
  --rounded-xxs: calc(7/2 * var(--rem-ratio));
  --rounded-xs: calc(10 / 2 * var(--rem-ratio));
  --rounded-s: calc(16 / 2 * var(--rem-ratio));
  --rounded-m: calc(20 / 2 * var(--rem-ratio));
  --rounded-ml: calc(25 / 2 * var(--rem-ratio));
  --rounded-l: calc(30 / 2 * var(--rem-ratio));
  --rounded-xl: calc(18 * var(--rem-ratio));
  --rounded-xxl: calc(23 * var(--rem-ratio));
  --rounded-infinity: calc(infinity * 1px);

  /* size */
  --layout-width-min: 375;
  --layout-width-max: 1440;
  --fluid-ratio-min: min(1px, calc(1 / var(--layout-width-min) * 100dvi));
  --fluid-ratio-max: min(1px, calc(1 / var(--layout-width-max) * 100dvi));
  --aspect-video: 16/9;
  --aspect-thumbnail: 1.91/1;

  /* color */
  --color-grayscale-0: #fff;
  --color-grayscale-100: #989898;
  --color-grayscale-200: #656565;
  --color-grayscale-1000: #3c3c3c;
  --color-orange-0: #fdfce2;
  --color-orange-100: #faffb4;
  --color-orange-200: #ffa90f;
  --color-orange-300: #f59d00;
  --color-orange-400: #ff822d;
  --color-orange-500: #ff802c;
  --color-orange-600: #fb8120;
  --color-orange-700: #ff6a0b;
  --color-green-0: #eaf9f6;
  --color-green-50: #e9f8f5;
  --color-green-100: #ccece7;
  --color-green-150: #bed0cd;
  --color-green-200: #bcdbd6;
  --color-green-250: #80bfb5;
  --color-green-300: #5baea1;
  --color-green-350: #43ad9b;
  --color-green-400: #44ad9d;
  --color-green-450: #11a59a;
  --color-green-500: #37a895;
  --color-green-550: #229e8b;
  --color-green-600: #49897f;
  --color-green-650: #3a8075;
  --color-green-700: #297c6f;
  --color-green-750: #224741;
  --color-yellow-0: #f5ff7d;
  --box-shadow-orange-dark: calc(-6.93px / 2) calc(-6.93px / 2) calc(16.62px / 2) rgb(212 136 0 / 80%);
  --box-shadow-orange-light: calc(7.34px / 2) calc(7.34px / 2) calc(12.23px / 2) rgb(255 206 118 / 100%);
  --box-shadow-orange-overlay: 0 calc(6.38px / 2) calc(12.76px / 2) rgb(0 0 0 / 20%);
  --box-shadow-orange-deep: 0 calc(4.34px / 2) calc(11.56px / 2) rgb(175 112 0 / 100%);
  --box-shadow-green-dark: calc(-7.23px / 2) calc(-7.23px / 2) calc(17.34px / 2) rgb(0 123 114 / 100%);
  --box-shadow-green-light: calc(7.66px / 2) calc(7.66px / 2) calc(12.76px / 2) rgb(94 222 213 / 100%);
  --box-shadow-green-pale: 0 calc(6.38px / 2) calc(12.76px / 2) rgb(230 229 195 / 100%);
  --box-shadow-green-deep: 0 calc(4.34px / 2) calc(11.56px / 2) rgb(0 123 114 / 100%);
  --box-shadow-green-float-soft: 0 calc(8.09px / 2) calc(8.09px / 2) rgb(96 146 149 / 30%);
  --box-shadow-green-float-light: calc(-4.05px / 2) calc(-4.05px / 2) calc(12.14px / 2) rgb(192 206 199 / 100%);
  --box-shadow-card: 0 calc(2px/2) 0 rgb(124 131 127 / 40%);
  --box-shadow-gray: 0 calc(8px / 2) calc(24px / 2) rgb(124 131 127 / 40%);
  --box-shadow-green-worries: 0 calc(10.08px / 2) calc(30.25px / 2) rgb(96 160 149 / 30%);
  --box-shadow-message: 0 calc(3.85px / 2) calc(7.7px / 2) rgb(96 160 149 / 50%);
  --box-shadow-message-inner-top: calc(7px / 2) calc(8px / 2) calc(4px / 2) rgb(248 255 254 / 100%);
  --box-shadow-message-inner-bottom: calc(-9px / 2) calc(-7px / 2) calc(4px / 2) rgb(240 244 243 / 100%);
  --box-shadow-feature-illust: 0 calc(10.08px/2) calc(51.25px/2) rgb(96 160 149 / 61%);
  --box-shadow-faq: calc(1px/2) calc(10px/2) calc(20px/2) rgb(96 160 149 / 40%);
  --box-shadow-comment: 0 calc(10.08px/2) calc(30.25px/2) rgb(0 0 0 / 11%);
  --background-gradient-mv-catch-sp: linear-gradient(90deg, rgb(255 128 43 / 100%) 0%, rgb(242 133 8 / 100%) 100%);
  --background-gradient-mv-catch-pc: linear-gradient(90deg, rgb(242 132 9 / 100%) 0%, rgb(254 129 40 / 100%) 100%);
  --background-gradient-cta: linear-gradient(90deg, rgb(255 100 17 / 100%) 0%, rgb(255 136 50 / 100%) 100%);
  --background-gradient-feature-yen: linear-gradient(180deg, rgb(255 239 219 / 100%) 0%, rgb(255 195 87 / 100%) 100%);
  --background-gradient-feature-bag: linear-gradient(180deg, rgb(255 239 210 / 100%) 0%, rgb(255 205 155 / 100%) 100%);
  --background-base: var(--color-grayscale-0);
  --font-gradient-green: linear-gradient(90deg, rgb(52 181 161 / 100%), rgb(65 141 129 / 100%));
  --font-base: var(--color-grayscale-1000);
  --underline-base: color-mix(in srgb, currentcolor, transparent 40%);

  /* z-index */
  --z-index-negative: -1;
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;

  /* speed */
  --speed-quick: 0.3s;
  --speed-normal: 0.5s;
  --speed-slow: 1s;
}
